<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>メニュー</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home/mail']"><mat-icon class="list-icon">email</mat-icon>メール作成</a>
      <a mat-list-item [routerLink]="['/home/config']"><mat-icon class="list-icon">settings</mat-icon>設定</a>
      <a mat-list-item [routerLink]="['/home/data']"><mat-icon class="list-icon">description</mat-icon>データ</a>
      <a mat-list-item [routerLink]="['/home/contact']"><mat-icon class="list-icon">contact_support</mat-icon>お問い合わせ</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="navi-title">楽コメ <small>～RakuComeRakuCome～</small></span>
      <span class="email" fxFlexOffset="auto" >
        {{email}}
        <button
          type="button"
          mat-icon-button
          [matMenuTriggerFor]="userMenu">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" class="user-profile">
          <button mat-menu-item (click)="onLogout()">
              <mat-icon>logout</mat-icon>
              ログアウト
          </button>
          <button mat-menu-item (click)="onDelete()">
              <mat-icon>delete_forever</mat-icon>
              アカウント削除
          </button>
        </mat-menu>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
