.contact-card {
    margin: 1em 1em;
    padding-bottom: 8px;
}

.readonly-email {
    margin-bottom: 24px;
}

mat-card-header {
    margin-bottom: 24px;
}

.mat-card-header .mat-card-title {
    margin-bottom: 0;
}