<div class="container">
    <email-editor locale="ja-JP" (loaded)="editorLoaded($event)"></email-editor>
    <mat-toolbar class="app-footer" color="primary">
    <span fxLayout="row" fxFlexOffset="auto" fxLayoutGap="10px">
        <button mat-raised-button type="button" (click)="onSend()" [disabled]="submitting || sending">
            <span *ngIf="sending">送信中...</span>
            <span *ngIf="!sending">{{email}} にテスト送信</span>
        </button>
        <button mat-raised-button color="accent" type="button" (click)="onSave()" [disabled]="submitting || sending">
            <span *ngIf="submitting">処理中...</span>
            <span *ngIf="!submitting">保存</span>
        </button>
    </span>
    </mat-toolbar>
</div>