<div class="container">
    <email-editor locale="ja-JP" minHeight="800px" (loaded)="editorLoaded($event)"></email-editor>
</div>
<mat-toolbar class="bottom-toolbar">
    <div fxLayout="row">
        <form [formGroup]="form" novalidate (ngSubmit)="onSend()">
            <button fxFlex="20" mat-raised-button color="warn" class="btn-block" type="submit" [disabled]="form.invalid || submitting">
                <span *ngIf="submitting">送信中...</span>
                <span *ngIf="!submitting">テスト送信</span>
            </button>
            <mat-form-field fxFlex="60" appearance="outline">
                <input matInput type="email" name="email" [(ngModel)]="email" formControlName="email">
                <mat-error *ngIf="emailControl.hasError('required')">
                    <strong>メールアドレスを入力してください</strong>
                </mat-error>
            </mat-form-field>
        </form>
        <button fxFlex="20" mat-raised-button color="accent" type="button" (click)="exportHtml()">保存</button>
    </div>
</mat-toolbar>

