/* top, bottom は暫定設定 */
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.app-footer {
    position: relative;
}

mat-form-field {
    width: 100%;
}
