<mat-card class="config-card">
    <mat-card-header>
        <mat-card-title>設定</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" novalidate (ngSubmit)="onSave()">
            <div fxLayout="column" fxLayoutAlign="space-around center">
                <div>
                    <label>メール自動送信</label>
                    <mat-radio-group [formControl]="radioControl"
                        name="status"
                        class="radio-group"
                        [(ngModel)]="status">
                        <mat-radio-button name="status" class="radio-button" *ngFor="let status of statusOptions" [value]="status">
                            {{status}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="time" xLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field>
                        <mat-label>発送から送信までの間隔</mat-label>
                        <mat-select [formControl]="selectControl"
                            name="dulation"
                            [(ngModel)]="dulation">
                            <!--<mat-option>--</mat-option>-->
                            <mat-option *ngFor="let dulation of dulations" [value]="dulation.value">
                                {{dulation.viewValue}}
                            </mat-option>
                        </mat-select>
                        <!--<mat-error *ngIf="selectControl.hasError('required')">
                            <strong>選択してください</strong>
                        </mat-error>-->
                    </mat-form-field>
                    <!--
                    <mat-form-field>
                        <input matInput type="time" name="from" [formControl]="fromControl"/>
                    </mat-form-field>
                    <span>から</span>
                    <mat-form-field>
                        <input matInput type="time" name="to" [formControl]="toControl"/>
                    </mat-form-field>
                    <span>の間は配信しない</span>-->
                </div>

                <div>
                    <label>出荷方法</label>
                    <mat-checkbox class="example-margin" [(ngModel)]="fba">FBA</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="mba">MBA</mat-checkbox>
                </div>

                <div>
                    <label>コンディション</label>
                    <mat-checkbox class="example-margin" [(ngModel)]="new">新品</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="mint">中古-ほぼ新品</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="verygood">中古-非常に良い</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="good">中古-良い</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="acceptable">中古-可</mat-checkbox>
                </div>


                <button mat-raised-button color="accent" class="btn-block" type="submit" [disabled]="form.invalid || submitting">
                    <span *ngIf="submitting">処理中...</span>
                    <span *ngIf="!submitting">更新</span>
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
